html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Patua One", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 4rem 1fr 8rem;
}

header img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h1 {
  grid-column: 1 / span 2;
  grid-row: 3;
  width: 14rem;
  margin: 1rem;
  z-index: 1;
}

nav ul li:nth-child(1) {
  grid-column: 4;
  grid-row: 1;
}
